<aside class="sidebar">
  <img [src]="profileImage()" alt="Foto personal" class="foto-perfil" />
  <h2 class="nombre">Pablo Zurita</h2>
  <p class="subtitulo">Estudiante de Ingeniería de Software</p>
  @if (showContactBtn()) {
  <a href="/contacto" class="btn-contacto">Contactame</a>
  }
  <div class="social-icons">
    <a href="https://github.com/ZuritaPablo" target="_blank" aria-label="GitHub">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://linkedin.com/in/tuusuario" target="_blank" aria-label="LinkedIn">
      <i class="fab fa-linkedin"></i>
    </a>
    <!-- Docker -->
    <a href="https://hub.docker.com/repositories/zurupe" target="_blank" aria-label="Docker">
      <i class="fab fa-docker"></i>
    </a>

  </div>
  <br>

  <small class="frase">"El conocimiento se construye línea a línea, como un buen código"</small>
  <br>
</aside>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">