<section class="hero d-flex align-items-center justify-content-center flex-column text-center">
  <div class="container">
    <br>
    <img [ngSrc]="profileImage()" priority width="150" height="150" alt="Foto de Pablo Zurita"
      class="rounded-circle shadow mb-4" style="border: 4px solid #fff;">

    <h1 class="fw-bold" style="font-family: 'Avant Garde', sans-serif;">Pablo Zurita</h1>
    <h2 class="mb-3" style="font-weight: 400;">Ingeniero de Software</h2>

    <p class="lead mb-4">Innovación tecnológica y soluciones eficientes.</p>


    <div class="mt-4">
      <a href="/proyectos" class="btn btn-primary btn-lg me-3">Ver Proyectos</a>
      <a href="assets/cv-pablo-zurita.pdf" target="_blank" class="btn btn-outline-light btn-lg">Descargar CV</a>
    </div>
  </div>
</section>